<!DOCTYPE html>
<html>
<head>
  <title>SeaCnC</title>
    <link rel="icon" type="image/jpeg" href="sail_boat1600.png"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : ENV['FACE_BOOK_APP_ID'], 
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="container-fluid red">
<div class="row">
    <% if signed_in? %>
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    <% else %>
      <div class="col-xs-2">
        <a href="/" data-toggle="tooltip" title="But not yours.">Home</a>
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
      <%= link_to 'Sign in', sign_in_path %>
      </div>
      <div class="row"></div>
      <div class="col-xs-10"></div>
      <div class="col-xs-2 small-font">
      <%= link_to "With Facebook", "/auth/facebook" %>
      </div>
      </div>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>
<%= yield %>

</body>
</html>
